[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}

.section {
  overflow-y: hidden; /* hide vertical */
  overflow-x: hidden; /* hide horizontal */
}

.container {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
}
.map {
    height: 70vh;
}
</style>

<div class="section" id="vue-target" v-cloak>
  <div v-if="updateUser([[=user]])"></div>
  <div v-if="setIdx()"></div>

  <div class="contianer is-fluid">
    <div class="field">
      <h2>Filter Sightings by Animal</h2>
      <p class="control has-icons-left">
        <span class="select">
          <select v-model="filter" @change="filterAnimal($event)">
            <option v-bind:value=-1>All Animals</option>
            <option v-for="animal in animals" :key="animal.id" v-bind:value=animal.id>
              {{ animal.animal_name }}
            </option>
          </select>
        </span>
        <span class="icon is-small is-left">
          <i class="fas fa-globe"></i>
        </span>
      </p>
    </div>
  </div>


  <div class="section container is-fluid">
    <div id="map" class="map"></div>
  </div>

  <div class="modal" id="myModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add a Sighting Here? </p>
      <button class="delete" aria-label="close" @click="close()" data-bulma-modal="close"></button>
    </header>
    <section class="modal-card-body">
      <p>@ Latitude: {{ lat }} Longitude: {{ long }}</p>
      <p>(aka (approximately): {{ address }})</p>
      <br>
      <p>Select What Animal Was Spotted here:</p>
      <span class="select">
          <select v-model="selected">
            <option v-for="animal in animals" :key="animal.id" v-bind:value="{ id: animal.id, name: animal.animal_name }">
              {{ animal.animal_name }}
            </option>
          </select>
      </span>
    </section>
    <p>{{ selected }}</p>
    <footer class="modal-card-foot">
      [[if globals().get('user'):]]
      <p>{{ errorMsg2 }}</p>
      <button class="button is-success" @click="add_sighting([[=globals().get('user').get('id')]], [[=user]], selected.id, selected.name)">Save changes</button>
      [[else:]]
      <p>{{ errorMsg }}</p>
      <br>
      <button class="button is-danger" @click="err()">Save changes</button>
      [[pass]]
      <button class="button" @click="close()" data-bulma-modal="close">Cancel</button>
    </footer>
  </div>
  </div>
</div>


[[block page_scripts]]
<script>
  let load_animal_url = "[[=XML(load_animal_url)]]";
  let load_sighting_url = "[[=XML(load_sighting_url)]]";
  let load_user_sightings_url = "[[=XML(load_user_sightings_url)]]";
  let delete_sighting_url = "[[=XML(delete_sighting_url)]]";
  let edit_sighting_url = "[[=XML(edit_sighting_url)]]";
  let add_sighting_url = "[[=XML(add_sighting_url)]]";
  let load_user_url = "[[=XML(load_user_url)]]";
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASOJoQ58yqnMAjzAyPtwpQ62zq-TtxBLo"></script>
<script src="js/index.js"></script>
[[end]]

